{% if is_paginated %}
<div class="join">
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}" class="join-item btn">Previous</a>
  {% else %}
  <a href="#" class="join-item btn" disabled>Previous</a>
  {% endif %}

  <span class="join-item btn"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </span>

  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}" class="join-item btn">Next</a>
  {% else %}
  <a href="#" class="join-item btn" disabled>Next</a>
  {% endif %}
</div>
{% endif %}
