services:
  nginx:
    image: nginx:alpine
    ports:
      - "8080:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - server
      - flower
      - rabbitmq
      - minio

  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      - POSTGRES_DB=aspire_db
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${aspire_pass}
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U aspire_user -d aspire_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=${S3_ACCESS_KEY_ID}
      - MINIO_ROOT_PASSWORD=${S3_SECRET_ACCESS_KEY}
      - MINIO_BROWSER_REDIRECT_URL=http://localhost:8080/minio
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis_sessions:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis_results:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6380:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASS}
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  flower:
    build: .
    working_dir: /app/src/aspire_v2
    command: celery -A aspire_v2 flower --port=5555 --basic-auth=${FLOWER_USER}:${FLOWER_PASS} --url-prefix=/flower
    env_file: ".env"
    environment:
      - MODE=PROD
    ports:
      - "5555:5555"
    depends_on:
      - redis_results
      - worker

  server:
    build: .
    command: ./docker-entrypoint.sh
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file: ".env"
    environment:
      - MODE=PROD
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_healthy
      redis_sessions:
        condition: service_healthy
      redis_results:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  worker:
    build: .
    working_dir: /app/src/aspire_v2
    command: watchmedo auto-restart --directory=/app/src --pattern=*.py --recursive -- celery -A aspire_v2 worker -l INFO
    volumes:
      - .:/app
    env_file: ".env"
    environment:
      - MODE=PROD
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_healthy
      redis_results:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
