{% load static %}
<!DOCTYPE html>

<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="drawer lg:drawer-open">
      <input id="sidebar-drawer" type="checkbox" class="drawer-toggle" />
      <nav class="drawer-side">
        <label for="sidebar-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu min-h-full w-72 p-4 bg-base-200">
          <li>
            <a href="{% url 'index' %}" class="btn btn-ghost text-3xl">ASPIRE</a>
          </li>

          <div class="divider divider-neutral"></div>

          <li>
            <a href="{% url 'dashboard' %}" class="btn btn-ghost">Reports</a>
          </li>
          <li>
            <a href="{% url 'retrieval_task_list' %}" class="btn btn-ghost">Tasks</a>
          </li>
          <li>
            <a href="{% url 'retrieval_run_list' %}" class="btn btn-ghost">Runs</a>
          </li>

          <div class="divider divider-neutral mt-auto"></div>

          <div class="text-center font-semibold">{{ user }}</div>
          <li>
            <a href="{% url 'user_detail' user.id %}" class="btn btn-ghost">Account</a>
          </li>
          <form action="{% url 'logout' %}" method="post" class="block">
            {% csrf_token %}
            <input class="btn btn-secondary btn-outline min-w-full" type="submit" value="Logout" />
          </form>
        </ul>
      </nav>
      <div class="drawer-content p-5">
        <label for="sidebar-drawer" class="btn drawer-button lg:hidden absolute">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2"
            fill="none"
            stroke="currentColor"
            class="my-1.5 inline-block size-4">
            <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
            <path d="M9 4v16"></path>
            <path d="M14 10l2 2l-2 2"></path>
          </svg>
        </label>

        <header class="flex flex-col items-center mb-5">
          <h1 class="text-3xl font-bold mb-3">{% block header-text %}{% endblock %}</h1>

          <p class="font-light text-sm mb-3">{% block header-date %}{% endblock %}</p>
          
          <div class="flex md:flex-row flex-col justify-center gap-2">
            {% block header-actions %}{% endblock %}
          </div>
        </header>

        <main class="max-w-4/5 mx-auto">
          {% block content %}{% endblock %}
        </main>
      </div>
    </div>

    {% block scripts %}{% endblock %}
  </body>
</html>
