<h1>New report:</h1>

<form method="POST">
    {% csrf_token %}

    {{ main_form.as_p }}

    {% for key, form in analysis_forms.items %}
        <h3>{{ key }}</h3>
        <div>
            {% for field in form %}
                <div>
                    {{ field.errors }}

                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <button type="submit">Generate</button>
</form>