{% extends 'base/base.html' %}
<!---->
{% block title %} {{ heading }} - ASPIRE {% endblock %}
<!---->
{% block content %}
<div>
  <h1 class="text-3xl font-bold mb-3">{{ heading }}</h1>
  <form method="post" class="block">
    {% csrf_token %}
    <div class="mb-3">
      <label for="{{ form.title.id_for_label }}" class="label block">{{ form.title.label }}</label>
      {{ form.title|add_class:"input" }} {% if form.title.help_text %}
      <p class="label">{{ form.title.help_text }}</p>
      {% endif %}

      <ul class="list max-w-80 text-error">
        {% for error in form.title.errors %}
        <li class="list-row text-sm p-1">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="mb-3">
      <label for="{{ form.description.id_for_label }}" class="label block">{{ form.description.label }}</label>
      {{ form.description|add_class:"textarea h-32" }} {% if form.description.help_text %}
      <p class="label">{{ form.description.help_text }}</p>
      {% endif %}

      <ul class="list max-w-80 text-error">
        {% for error in form.description.errors %}
        <li class="list-row text-sm p-1">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    <ul class="list max-w-80 text-error">
      {% for error in form.non_field_errors %}
      <li class="list-row text-sm p-1">{{ error }}</li>
      {% endfor %}
    </ul>

    <div class="flex gap-2">
      <a href="{{ cancel_url }}" class="btn btn-secondary">Cancel</a>
      <input type="submit" value="Save" class="btn btn-success" />
    </div>
  </form>
</div>
{% endblock %}
