{% extends 'base/base.html' %}

{% block title %} New report - ASPIRE {% endblock %}

{% block header %}
<h1 class="text-3xl font-bold mb-3">Create new report - set parameters</h1>
{% endblock %}

{% block content %}
<form method="POST" class="block text-center">
  {% csrf_token %} {% for entry in forms %}
  <div class="fieldset rounded-box border border-base-200 w-lg p-4 mb-3 mx-auto">
    <h3 class="text-xl font-semibold">{{ entry.name }}</h3>
    <div>
      {% for field in entry.form %}
      <div class="mb-1">
        <label for="{{ field.id_for_label }}" class="label block">{{ field.label }}</label>
        {{ field|add_class:"input" }} {% if field.help_text %}
        <p class="label">{{ field.help_text }}</p>
        {% endif %}

        <ul class="list max-w-80 text-error">
          {% for error in field.errors %}
          <li class="list-row text-sm p-1">{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% empty %}
      <p>This analysis does not define any parameters.</p>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

  <div class="flex gap-2 justify-center">
    <a href="{% url 'new_report_runs' %}" class="btn btn-secondary">Previous</a>
    <a href="{% url 'new_report_cancel' %}" class="btn btn-error">Cancel</a>
    <input type="submit" value="Generate" class="btn btn-primary" />
  </div>
</form>
{% endblock %}
