{% extends 'base/base.html' %}
<!---->
{% block title %} New report - ASPIRE {% endblock %}
<!---->
{% block content %}
<div>
  <h1 class="text-3xl font-bold mb-3">Create new report - select runs</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <fieldset class="fieldset rounded-box border border-base-200 w-80 p-4">
        <legend class="fieldset-legend">{{ form.runs.label }}</legend>
        <div class="flex flex-wrap gap-2">
          {% for checkbox in form.runs %}
          <label for="{{ checkbox.id_for_label }}"> {{ checkbox.tag }} {{ checkbox.choice_label }} </label>
          {% endfor %}
        </div>
      </fieldset>

      <ul class="list max-w-80 text-error">
        {% for error in form.runs.errors %}
        <li class="list-row text-sm p-1">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>

    <ul class="list max-w-80 text-error">
      {% for error in form.non_field_errors %}
      <li class="list-row text-sm p-1">{{ error }}</li>
      {% endfor %}
    </ul>

    <div class="flex justify-between w-80">
      <a href="{% url 'new_report_general' %}" class="btn btn-secondary">Previous</a>
      <a href="{% url 'new_report_cancel' %}" class="btn btn-error">Cancel</a>
      <input type="submit" value="Next" class="btn btn-primary" />
    </div>
  </form>
</div>
{% endblock %}
