{% extends "base/base.html" %}
<!---->
{% block title %} {{ report.title }} - ASPIRE {% endblock %}
<!---->
{% block content %}
<div class="max-w-3/4">
  <div class="flex justify-between">
    <div>
      <h1 class="text-3xl font-bold mb-3">{{ report.title }}</h1>
      <p class="font-light text-sm mb-5">{{ report.date }}</p>
    </div>

    <div class="flex flex-row gap-2">
      <a id="pdf-download" href="{% url 'download_pdf' report.id %}" class="btn btn-accent {% if not report.pdf %} hidden {% endif %}"
        >Download PDF</a
      >
      <form id="pdf-generate" method="POST" class="{% if report.pdf or pdf_is_generating %} hidden {% endif %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-accent" value="Generate PDF" />
      </form>
      <a href="{% url 'report_delete' report.id %}" class="btn btn-error">Delete</a>
    </div>
  </div>

  {% for analysis_result in report.results.all %}
  <div class="mb-5">
    <h3 class="font-semibold text-lg">{{ analysis_result.analysis_display_name }}</h3>
    {% if analysis_result.result.type == "value" %}
    <span>{{ analysis_result.result.value }}</span>
    {% elif analysis_result.result.type == "table" %}
    <div class="overflow-x-auto rounded-box border border-base-content/5">
      <table class="table">
        <thead>
          <tr class="bg-base-200">
            <th></th>
            {% for column in analysis_result.result.value.columns %}
            <th>{{ column }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in analysis_result.result.value.data_with_index %}
          <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
    {% elif analysis_result.result.type == "plot" %}
    <div id="plot {{analysis_result.analysis_type}}"></div>
    {% elif analysis_result.result.type == "composite" %} {% for label, subresult in analysis_result.result.value.items %}
    <div class="mb-3">
      <h5 class="font-semibold">{{ label }}</h5>
      {% if subresult.type == "value" %}
      <span>{{ subresult.value }}</span>
      {% elif subresult.type == "table" %}
      <div class="overflow-x-auto rounded-box border border-base-content/5">
        <table class="table">
          <thead>
            <tr class="bg-base-200">
              <th></th>
              {% for column in subresult.value.columns %}
              <th>{{ column }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in subresult.value.data_with_index %}
            <tr>
              {% for value in row %}
              <td>{{ value }}</td>
              {% endfor %}
            </tr>
            {% endfor%}
          </tbody>
        </table>
      </div>
      {% elif subresult.type == "plot" %}
      <div id="plot {{analysis_result.analysis_type}}-{{label}}"></div>
      {% endif %}
    </div>
    {% endfor %} {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
<!---->
{% block scripts%}
<script src="https://cdn.plot.ly/plotly-3.3.0.min.js" charset="utf-8"></script>
{{ plot_data|json_script:'plot_data' }} {{ report.id|json_script:"report_id" }}
<script>
  const plotData = JSON.parse(document.getElementById('plot_data').textContent);

  for (const [id, plot] of Object.entries(plotData)) {
    const { data, layout } = plot.value;
    Plotly.newPlot(`plot ${id}`, data, layout);
  }
</script>
{% if pdf_is_generating %}
<script>
  const reportId = JSON.parse(document.getElementById('report_id').textContent);
  const pdfDownload = document.getElementById('pdf-download');
  const pdfGenerate = document.getElementById('pdf-generate');

  const socket = new WebSocket(`/ws/pdf_status/${reportId}/`);
  socket.addEventListener('message', (event) => {
    const data = JSON.parse(event.data);
    console.log(data);
    if (data.type == 'pdf_complete') {
      pdfGenerate.classList.add('hidden');
      pdfDownload.classList.remove('hidden');
    }
  });
</script>
{% endif %} {% endblock %}
