<!DOCTYPE html>

<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      {{ css_content }}
    </style>
  </head>
  <body>
    <div class="max-w-3/4 mr-auto ml-auto mt-5">
      <div class="flex justify-between">
        <div>
          <h1 class="text-3xl font-bold mb-3">{{ title }}</h1>
          <p class="font-light text-sm mb-3">{{ date }}</p>
          <p class="font-light text-sm mb-5">{{ description }}</p>
        </div>
      </div>

      {% for analysis_result in data %}
      <div class="mb-5">
        <h3 class="font-semibold text-lg">{{ analysis_result.analysis_type }}</h3>
        {% if analysis_result.type == "value" %}
        <span>{{ analysis_result.value }}</span>
        {% elif analysis_result.type == "table" %}
        <div class="overflow-x-auto rounded-box border border-base-content/5">
          <table class="table">
            <thead>
              <tr class="bg-base-200">
                <th></th>
                {% for column in analysis_result.value.columns %}
                <th>{{ column }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in analysis_result.value.data_with_index %}
              <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
              </tr>
              {% endfor%}
            </tbody>
          </table>
        </div>
        {% elif analysis_result.type == "plot" %}
        <img src="{{analysis_result.value}}" alt="Plot" />
        {% elif analysis_result.type == "composite" %} {% for label, subresult in analysis_result.value.value %}
        <div class="mb-3">
          <h5 class="font-semibold">{{ label }}</h5>
          {% if subresult.type == "value" %}
          <span>{{ subresult.value }}</span>
          {% elif subresult.type == "table" %}
          <div class="overflow-x-auto rounded-box border border-base-content/5">
            <table class="table">
              <thead>
                <tr class="bg-base-200">
                  <th></th>
                  {% for column in subresult.value.columns %}
                  <th>{{ column }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for row in subresult.value.data_with_index %}
                <tr>
                  {% for value in row %}
                  <td>{{ value }}</td>
                  {% endfor %}
                </tr>
                {% endfor%}
              </tbody>
            </table>
          </div>
          {% elif subresult.type == "plot" %}
          <img src="{{subresult.value}}" alt="Plot" />
          {% endif %}
        </div>
        {% endfor %} {% endif %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
