{% extends "base/base.html" %}
<!---->
{% block title %} Retrieval tasks - ASPIRE {% endblock %}
<!---->
{% block content %}
<div>
  <h1 class="text-3xl font-bold mb-3">Retrieval tasks</h1>

  <a href="{% url 'retrieval_task_upload' %}" class="btn btn-success">New task</a>

  <div class="flex flex-wrap gap-2 mt-5 mb-5">
    {% for task in tasks %}
    <div class="card card-border bg-base-100 w-80">
      <div class="card-body">
        <h2 class="card-title">{{ task.title }}</h2>
        <p>{{ task.description }}</p>
        <p class="font-light text-sm">{{ task.date }}</p>
        <div class="card-actions justify-end">
          <a href="{% url 'retrieval_task_detail' task.id %}" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% include 'includes/pagination.html' %}
</div>
{% endblock %}
