{% extends "base/core.html" %}

{% block title %} {{ run.title }} - ASPIRE {% endblock %}

{% block header-text %} {{ run.title }} {% endblock %}
{% block header-date %} {{ run.date }} {% endblock %}
{% block header-actions %}
<a href="{% url 'download_run_file' run.id %}" class="btn btn-accent">Download run</a>
<a href="{% url 'retrieval_run_edit' run.id %}" class="btn btn-secondary">Edit</a>
<a href="{% url 'retrieval_run_delete' run.id %}" class="btn btn-error">Delete</a>
{% endblock %}

{% block content %}
<div class="text-center">
  <p>{{ run.description }}</p>
</div>
{% endblock %}
