{% extends "base/base.html" %}

{% block title %} {{ task.title }} - ASPIRE {% endblock %}

{% block header %}
<h1 class="text-3xl font-bold mb-3">{{ task.title }}</h1>

<p class="font-light text-sm mb-3">{{ task.date }}</p>

<div class="flex md:flex-row flex-col justify-center gap-2 mb-5">
  <a href="{% url 'download_qrels' task.id %}" class="btn btn-accent">Download qrels</a>
  <a href="{% url 'download_topics' task.id %}" class="btn btn-accent">Download topics</a>
  <a href="{% url 'retrieval_task_edit' task.id %}" class="btn btn-secondary">Edit</a>
  <a href="{% url 'retrieval_task_delete' task.id %}" class="btn btn-error">Delete</a>
</div>
{% endblock %}

{% block content %}
<div class="text-center">
  <p>{{ task.description }}</p>
</div>
{% endblock %}
