{% extends 'base/auth.html' %}
<!---->
{% block title %} Reset password - ASPIRE {% endblock %}
<!---->
{% block content %}
<div>
  <div class="text-lg mb-5 divider">Reset password</div>
  <form method="post" class="mb-2 mr-auto ml-auto block w-80">
    {% csrf_token %} {% for field in form %}
    <label for="{{ field.id_for_label }}" class="label"
      >{{ field.label }}</label
    >
    {{ field|add_class:"input" }} {% if field.help_text %}
    <p class="label">{{ field.help_text }}</p>
    {% endif %}

    <ul class="list max-w-80 text-error">
      {% for error in field.errors %}
      <li class="list-row text-sm p-1">{{ error }}</li>
      {% endfor %}
    </ul>
    {% endfor %}

    <ul class="list max-w-80 text-error">
      {% for error in form.non_field_errors %}
      <li class="list-row text-sm p-1">{{ error }}</li>
      {% endfor %}
    </ul>

    <input
      type="submit"
      value="Send reset link"
      class="btn btn-primary w-40 block mr-auto ml-auto mb-3 mt-4"
    />
  </form>

  <div class="flex justify-center items-center">
    <a href="{% url 'login' %}" class="btn btn-ghost w-40">Log in</a>
  </div>
</div>
{% endblock %}
