{% extends 'base/auth.html' %}
<!---->
{% block title %} Delete account - ASPIRE {% endblock %}
<!---->
{% block content %}
<div>
  <div class="text-lg mb-5 divider">Delete account</div>
  <form method="post" class="mb-2 block ml-auto mr-auto w-80">
    {% csrf_token %} {% for field in form %}

    <label for="{{ field.id_for_label }}" class="label"
      >{{ field.label }}</label
    >
    {{ field|add_class:"input" }} {% if field.help_text %}
    <p class="label">{{ field.help_text }}</p>
    {% endif %}

    <ul class="list max-w-80 text-error">
      {% for error in field.errors %}
      <li class="list-row text-sm p-1">{{ error }}</li>
      {% endfor %}
    </ul>
    {% endfor %}

    <ul class="list max-w-80 text-error">
      {% for error in form.non_field_errors %}
      <li class="list-row text-sm p-1">{{ error }}</li>
      {% endfor %}
    </ul>

    <h1 class="font-bold text-center mb-5">
      Are you sure you want to delete your account?
      <span class="text-error">This action is irreversible!</span>
    </h1>

    <div class="flex justify-center items-center">
      <a href="{% url 'user_detail' user.id %}" class="btn btn-ghost w-40"
        >Cancel</a
      >
      <input type="submit" value="Delete" class="btn btn-error w-40" />
    </div>
  </form>
</div>
{% endblock %}
